shared_buffers = '{{ shared_buffers }}'

effective_cache_size = '{{ effective_cache_size }}'

maintenance_work_mem = '{{ maintenance_work_mem }}'

work_mem = '{{ work_mem }}'


shared_preload_libraries = '{{ shared_preload_libraries }}'
